<!DOCTYPE html>
<html>
<head>
  <title>Pokémon {{ name }}</title>
  <link rel="stylesheet" href="/css/index.css">
  <script rel="stylesheet" src="/js/index.js"></script>
</head>
<body>

  <div class="pokedex">
    <div class="screen">
      <h1>{{ name }}</h1>
      <img src="{{ image }}" alt="{{ name }}">
      <p>{{ description }}</p>
    </div>
  </div>

</body>
</html>